@font-face {
	font-family: 'avenir_next_lt_proregular';
	src: url('./assets/fonts/avenir_next_font-webfont.woff') format('woff2'),
		url('./assets/fonts/avenir_next_font-webfont.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: avenir;
}
